@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6; /* light gray default */
}

/* Dark mode default if needed */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #111827; /* dark gray default */
  }
}